@import "../../scss/variabiles";

$button-color: #9f7fff34;

.menu_button {
  position: relative;
  pointer-events: all;
  aspect-ratio: 1/1;
  display: flex;
  width: 3rem;
  margin-left: 10px;
  pointer-events: none;
  &::before,
  &::after {
    display: block;
    content: "";
    mix-blend-mode: difference;
    background-color: white;
  }

  &:hover &__icon_line_top {
    transform: translateX(-4.17px);
  }
  &:hover &__icon_line_middle {
    transform: translateX(+3px);
  }
  &:hover &__icon_line_bottom {
    transform: translateX(-0.58px);
  }

  &__trigger_label {
    display: inline-block;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
  }

  &__icon {
    height: 100%;
    width: 100%;
  }

  &__icon_bg {
    $bg-icon-color: rgba(69, 73, 84, 0.322);
    fill: $bg-icon-color;
  }

  &__icon_line {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: left;
  }

  &__trigger_checkbox:checked + &__trigger_label &__icon &__icon_line_top {
    transform: translateY(13.4px) translateX(25.7px) rotate(-45deg) scaleX(0.75);
  }

  &__trigger_checkbox:checked + &__trigger_label &__icon &__icon_line_bottom {
    transform: translateY(13.7px) translateX(2.5px) rotate(-45deg) scaleX(0.65);
  }

  &__trigger_checkbox:checked + &__trigger_label &__icon &__icon_line_middle {
    transform: translateY(-27.5px) translateX(1px) rotate(45deg) scaleX(1.5);
  }

  &__trigger_checkbox {
    display: none;
  }
}

.getstarted_button {
  pointer-events: all;
  font-family: "futura-bold";
  font-size: 1.25rem;
  color: white;
  white-space: nowrap;

  &__trigger_checkbox {
    display: none;
  }

  &__trigger_label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: $button-color;
    padding: 0.6rem 1.2rem;
    border-radius: 99px;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    transition: padding-left 0.3s ease;
  }

  &__phone {
    font-family: "Futura", sans-serif;
    @include mq(tablet) {
      display: none;
    }
  }

  &__text {
    display: none;
    font-family: "Futura", sans-serif;
    @include mq(tablet) {
      display: revert;
    }
  }
}
.header {
  padding: 10px;
  border-radius: 13px;
  background: linear-gradient(
    137deg,
    rgba(17, 18, 20, 0.565) 4.87%,
    rgba(12, 13, 15, 0.9) 75.88%
  );
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid hsla(0, 0%, 100%, 0.06);
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15);
  transition: height 0.3s ease, transform 0.3s ease;
  transform: translateZ(0);
  will-change: height, transform;
  width: 98%;
  max-width: 1200px;
  position: fixed;
  top: 10px;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.header_buttons {
  height: min-content;
  display: flex;
}

.bounds {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  pointer-events: all;
  &:hover {
    transform: scale(3);
  }
}
