.menu_button__trigger_checkbox {
  display: none;
}

.menu_button__trigger_label {
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;

  .menu_button__icon_line {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: left;

    &.menu_button__icon_line_top {
      .menu_button__trigger_checkbox:checked+& {
        transform: translateY(13.4px) translateX(25.7px) rotate(-45deg) scaleX(0.75);
      }
    }

    &.menu_button__icon_line_bottom {
      .menu_button__trigger_checkbox:checked+& {
        transform: translateY(13.7px) translateX(2.5px) rotate(-45deg) scaleX(0.65);
      }
    }

    &.menu_button__icon_line_middle {
      .menu_button__trigger_checkbox:checked+& {
        transform: translateY(-27.5px) translateX(1px) rotate(45deg) scaleX(1.5);
      }
    }
  }
}