@use "sass:map";

$top-margin: 16px;
$container-width: 1120px;
$round-border: 999px;
$main-buttons-container-height: 3rem;

$breakpoints: (
  tablet: 601px,
  desktop: 1200px
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

@mixin main-buttons-container {
  height: $main-buttons-container-height;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
