@use 'colors';

html, body, button, ul, li, a, h1, h2, h3, h4, h5, h6 {
  all: unset;
  display: revert;
  scroll-behavior: smooth;
}

:root {
  font-family: 'futura-medium', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  background-color: colors.$dark-background-color;
}
