@import "../shared/variables";

button {
  cursor: pointer;
  line-height: 1;
}

.button {
  &__container {
    @include main-buttons-container;
  }
}

.sticky_buttons {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
}
