$button-color: hsla(230, 90%, 60%, 0.9);

.getstarted_button {
  pointer-events: all;

  &__trigger_checkbox {
    display: none;

    &:checked + .getstarted_button__trigger_label::before {
      content: "+";
    }

    &:checked + .getstarted_button__trigger_label {
      padding-left: 2rem;
    }
  }

  &__trigger_label {
    background-color: $button-color;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    font-weight: 500;
    color: white;
    font-size: 1.25rem;
    white-space: nowrap;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    transition: padding-left 0.3s ease;
  }
}
