@import "../shared/variables";

// take whole height of viewport
.full-height {
  height: 100vh;
  height: 100svh;
}

// centered container which doesn't exceed 1120px
.container {
  width: calc(100% - 32px); // 16px margin minimum
  max-width: $container-width;
  margin: 0 auto;
}

/* PLEASE DO NOT CHANGE THIS */
.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
