@import '../shared/variables';

.page {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include mq(tablet) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include mq(tablet) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
  }
}

.container {
  width: calc(100% - 32px); // 16px margin minimum
  max-width: $container-width;
  margin: 0 auto;
}