@use "colors";

.dark-theme {
  color: colors.$white-font-color;
  background-color: colors.$dark-background-color;
}

.white-theme {
  color: black;
  background-color: white;
}

.wrapper-parallax-theme {
  background-image: url("/background_color_view2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'spaceland';
  src: url('/fonts/Spaceland-Ten.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'free-sans-bold';
  src: url('/fonts/FreeSansBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-medium';
  src: url('/fonts/Futura Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-bold';
  src: url('/fonts/Futura Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-condensed';
  src: url('/fonts/Futura Condensed Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
