@use "boilerplate";
@use "colors";
@use "theme";
@use "layout";
@use "buttons";
@use "menu_button";
@use "menu";
@use "contact_button";
@use "contact";

// hide scroll
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
