@import '../shared/variables';

.hero {
  &__header {
    @include main-buttons-container;
    justify-content: center;
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__logo {
      max-height: 60%;
    }

    @include mq(tablet) {
      justify-content: left;
    }
  }

  &__title {
    grid-column: span 4;
  }
}
