@import '../shared/variables';

.hero {
  &__header {
    @include main-buttons-container;
    justify-content: center;
    grid-column: span 4;

    &__logo {
      max-height: 60%;
    }

    @include mq(tablet) {
      justify-content: left;
    }
  }

  &__title {
    font-size: 4rem;

    &__container {
      grid-column: 1 / span 7;
      align-self: center;
    }
  }
}
