.services {
  &__left {
    position: absolute;
    padding-top: 10vh;

    &__container {
      float: left;
      padding-top: 8vh;
    }

    &__text {
      font-family: "Futura";
      font-size: 1rem;
      padding-left: 1vw;
    }

    &__line {
      width: 21vw;
    }
  }

  @media (max-width: 600px) {
    &__left {
      &__container {
        padding-top: 8vh;
      }

      &__text {
        font-size: 0.8rem;
        padding-left: 5px;
      }
    }
  }

  &__title {
    font-size: 5rem;
    font-family: "spaceland";
    font-weight: bold;
    @media (max-width: 600px) {
      font-size: 2.7rem;
    }

    &__container {
      position: relative;
      padding-top: 6vh;
      @media (max-width: 600px) {
        padding-top: 8vh;
      }
      margin-left: 12vh;
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  &__content {
    &__container {
      padding-top: 6vh;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-left: 5vh;
      padding-right: 5vh;

      &__left {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: auto;
      }
      &__text {
        font-size: 1.8rem;
        font-family: "Futura";
        @media (max-width: 600px) {
          font-size: 1.1rem;
        }
        font-weight: bold;
        color: #979797;
      }

      &__arrow {
        position: relative;
        transition: background-color 0.5s ease;
        background: url("/arrow_up.svg") no-repeat center center;
        background-size: calc(100% - 30px);
        height: 50px;
        width: 50px;
        padding: 5px;

        @media (max-width: 600px) {
          height: 30px;
          width: 30px;
          background-size: calc(100% - 15px);
          padding: 3px;
        }
      }

      &__description {
        font-weight: bold;
        font-size: clamp(1rem, 2vw, 1.5rem);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        &.expanded {
          max-height: 200px;
        }
      }
    }

    &__line {
      background: #979797;
      margin-top: unset;
      margin-bottom: unset;
    }
  }
}
@for $i from 1 through 5 {
  .s#{$i} {
    &:hover {
      background-color: rgba(25, 26, 31, 0.5);

      .ellipse {
        background-color: #4543ec;
      }
      .services__content__info__arrow {
        padding-top: 5px;
        padding-left: 5px;
        background-color: #4543ec;
      }

      .services__content__info__text {
        color: white;
      }
    }
  }
}

.ellipse {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
}

.view-4 {
  background-image: url("/services/cube_s1.svg"), url("/services/cube_s2.svg"),
    url("/services/cube_s3.svg"), url("/services/cube_s7.webp"),
    url("/services/cube_s4.svg"), url("/services/cube_s5.svg"),
    url("/services/cube_s6.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
  background-position: 0% 120%, 25% 50%, 50% 0%, 15% 0%, 60% 60%, 100% 10%,
    90% 90%;
  background-blend-mode: lighten, lighten, lighten, lighten, lighten, lighten,
    lighten;
  background-clip: border-box;
  max-height: 1440px;
  height: 130vh;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 600px) {
  .view-4 {
    background-image: url("/services/cube_s2.svg"),
      url("/services/cube_s7.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: -15vh 25%, 10% 70vh;
    background-blend-mode: lighten, lighten;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .view-4 {
    height: 200vh;
    background-image: url("/services/cube_s2.svg"),
      url("/services/cube_s7.webp");
    background-repeat: no-repeat, no-repeat;
    background-position: 20vh 80vh, -30vh 0vh;
    background-blend-mode: lighten, lighten;
    width: 100vw;
  }
}
