@import "../shared/variables";

.services {
  &__header {
    display: flex;
    padding-top: 30px;
    align-items: center;
  }
  &__left {
    position: absolute;
    padding-top: 10svh;

    &__container {
      float: left;
    }

    &__text {
      position: absolute;
      top: 50px;
      font-family: "Futura";
      font-size: 1.1rem;
    }

    &__line {
      width: 20vw;
    }

    @media (min-width: 1120px) {
      &__line {
        width: 224px;
      }
    }
  }

  @media (max-width: 600px) {
    &__left {
      &__text {
        font-size: 1rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }
  }

  &__title {
    font-size: 5rem;
    font-family: "spaceland";
    font-weight: bold;
    @media (max-width: 600px) {
      font-size: 2.7rem;
    }

    &__container {
      position: relative;
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  &__content {
    &__container {
      padding-top: 6svh;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-left: 5svh;
      padding-right: 5svh;

      &__left {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: auto;
      }
      &__text {
        font-size: 1.8rem;
        font-family: "Futura";
        @media (max-width: 600px) {
          font-size: 1.1rem;
        }
        font-weight: bold;
        color: #979797;
      }

      &__arrow {
        position: relative;
        transition: background-color 0.5s ease;
        background: url("/arrow_up.svg") no-repeat center center;
        background-size: calc(100% - 30px);
        height: 50px;
        width: 50px;
        padding: 5px;

        @media (max-width: 600px) {
          height: 30px;
          width: 30px;
          background-size: calc(100% - 15px);
          padding: 3px;
        }
      }

      &__description {
        font-weight: bold;
        font-size: clamp(1rem, 2vw, 1.5rem);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        &.expanded {
          max-height: 200px;
        }
      }
    }

    &__line {
      background: #979797;
      margin-top: unset;
      margin-bottom: unset;
    }
  }
}
@for $i from 1 through 5 {
  .s#{$i} {
    &:hover {
      background-color: rgba(25, 26, 31, 0.5);

      .ellipse {
        background-color: #4543ec;
      }
      .services__content__info__arrow {
        padding-top: 5px;
        padding-left: 5px;
        background-color: #4543ec;
      }

      .services__content__info__text {
        color: white;
      }
    }
  }
}

.ellipse {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
}

.view-4 {
  background-image: url("/services/cube_s1.svg"), url("/services/cube_s2.svg"),
    url("/services/cube_s3.svg"), url("/services/cube_s5.svg"),
    url("/services/cube_s6.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0% 120%, -5% 10%, 50% 100%, 100% 10%, 90% 97%;
  background-blend-mode: lighten;
  background-clip: border-box;
  max-height: 1440px;
  height: 42rem;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;

  @include mq(tablet) {
    height: 60rem;
  }
}

@media (max-width: 600px) {
  .view-4 {
    background-image: url("/services/cube_s2.svg"), url("/services/cube_s3.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -15svh 25%, 30% 60svh;
    background-blend-mode: lighten;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .view-4 {
    height: 200svh;
    background-image: url("/services/cube_s2.svg"),
      url("/services/cube_s7.webp"), url("/services/cube_s3.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 20svh 80svh, -30svh 0svh, 80svh 15svh;
    background-blend-mode: lighten;
    width: 100vw;
  }
}
