.view-3 {
  position: relative;
  overflow: hidden;

  .grid-container-topics {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 10px;
  }

  .column-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  }
}

